In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs

plt.rcParams['figure.figsize'] = (16, 9)

data = pd.read_csv('edlich-kmeans-A0.csv')
data
# Creating a sample dataset with 4 clusters
# X, y = make_blobs(n_samples=800, n_features=3, centers=4)

          V1         V2         V3
0  -5.340236   4.747246   3.823326
1  -9.587065  -3.434466   9.701839
2  -8.385012  -3.902794   8.514620
3   5.708226   2.658575   5.404482
4  -7.431665  -4.390251   9.003216
..       ...        ...        ...
95  5.240474   2.983800   5.104915
96 -1.675543   3.780111  -8.060940
97  2.979751  10.772783 -10.093143
98 -5.154519   5.976515   2.794622
99 -4.878509   5.096635   5.659783

[100 rows x 3 columns]